@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --toolbar-color: #61AFA9;
}

@font-face {
    font-family: "Sora";
    src: url("./fonts/Sora-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "Sora-Bold";
    src: url("./fonts/Sora-Bold.ttf") format('truetype');
}

@layer utilities {
    .scroll::-webkit-scrollbar {
        width: 24px;
        height: auto;
    }

    .scroll::-webkit-scrollbar-track {
        visibility: hidden;
    }

    .scroll::-webkit-scrollbar-thumb {
        background: #474752;
        background-clip: padding-box;
        border-radius: 9999px;
        border: 8px solid transparent;
    }
}   

.shake {
    animation: shake 0.5s ease-in-out;
}

@keyframes shake {
    0%, 100% {
        margin-left: 0rem;
    }
    20%, 80% {
        margin-left: 0.5rem;
    }
    40%, 60% {
        margin-left: -0.5rem;
    }
}

.danger-color {
    animation: fade 2s linear;
}

@keyframes fade {
    0%, 50% {
        background: #f44336;
    }
    100% {
        background: var(--toolbar-color);
    }
}

.fade-text {
    animation: fade-text 2s linear;
}

@keyframes fade-text{
    0%, 50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.fade-in-card {
    animation: fade-in-card 1s ease-in-out 1s 1;
}

@keyframes fade-in-card {
    0%, 50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes rainbow {
    from {
        color: #6666ff;
    }
    10% {
        color: #0099ff;
    }
    50% {
        color: #00ff00;
    }
    75% {
        color: #ff3399;
    }
    100% {
        color: #6666ff;
    }
}